<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="resources"></div>

<title>Calon Mahasiswa - Mengisi IDM</title>

<!--  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> </link>
  <link rel="stylesheet" href="/resources/demos/style.css"> </link>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({
    	 dateFormat: "yy-mm-dd"
    });
  } );
  </script> -->

</head>

<body>
	<div th:include="calon_mahasiswa-navbar"></div>


	<div class="container">
		<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<h2>Isian Data Mahasiswa</h2>
				</div>
			</div>
		</div>
		<div id="contact" class="container">
			<h1 class="page-header">Isi Biodata</h1>
		<!-- 	<p th:text="${_csrf.token}"></p>  -->
			<form action="/calon-mahasiswa/biodata/fill/submit" method="post" enctype="multipart/form-data" >
				<input type="hidden"  th:name="${_csrf.parameterName}"   th:value="${_csrf.token}"/>
				<h4>Masukkan Data Mahasiswa</h4>
				<br />
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="name">Nama</label> <input type="text" name="name"
								class="form-control" placeholder="Nama" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="tanggal_lahir">Tanggal Lahir</label> <input
								type="text" id="datepicker" name="tanggal_lahir" class="form-control"
								placeholder="YYYY-MM-DD" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="jenis_kelamin">Jenis Kelamin</label> <br></br> <input
								type="radio" name="jenis_kelamin" value="L">L</input> <input
								type="radio" name="jenis_kelamin" value="P">P</input>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nomor_telepon">Nomor Telepon</label> <input
								type="text" name="nomor_telepon" class="form-control"
								placeholder="Nomor Telepon" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="kewarganegaraan">Kewarganegaraan</label> <input
								type="text" name="kewarganegaraan" class="form-control"
								placeholder="Kewarganegaraan" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="agama_id">Agama</label> 
							<select id="agama_id_select" name="agama_id"
								class="form-control">
								<option th:each="agama : ${agamas}" th:value="${agama.agama_id}" th:text="${agama.nama_agama}"></option>							
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nomor_ktp">Nomor KTP</label> <input type="text"
								name="nomor_ktp" class="form-control" placeholder="Nomor KTP" />
						</div>
					</div>
<!-- 					<div class="col-md-6">
						<div class="form-group">
							<label for="form_survey_kesehatan">Form Survey Kesehatan</label> <input type="text"
								name="form_survey_kesehatan" class="form-control" placeholder="Formulir Survey Kesehatan"/>
						</div>
					</div> -->
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Scan KTP</span>
								<span class="input-group-btn">
									<input class="btn btn-warning" type="file" name="scan_ktp" placeholder="Scan KTP">Browse</input>
								</span>
							</div>
						</div>
					</div>
<!-- 					<div class="col-md-6">
						<div class="form-group">
							<label for="hasil_tes_kesehatan">Hasil Tes Kesehatan</label> <input type="text"
								name="hasil_tes_kesehatan" class="form-control" placeholder="Hasil Tes Kesehatan"/>
						</div>
					</div> -->
				</div>
				<!-- <div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Sidik Jari</span>
								<span class="input-group-btn">
									<input class="btn btn-warning" type="file" name="sidik_jari"
								placeholder="Scan Sidik Jari">Browse</input>
								</span>
							</div>
						</div>
					</div>
				</div> -->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Scan KK</span>
								<span class="input-group-btn">
									<input class="btn btn-warning" type="file" name="scan_kk"
								placeholder="Scan KK">Browse</input>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Scan Surat Pernyataan Mahasiswa</span>
								<span class="input-group-btn">
									<input class="btn btn-warning" type="file" name="scan_surat_pernyataan_mahasiswa" placeholder="Surat Pernyataan Mahasiswa">Browse</input>
								</span>
							</div>
						</div>
					</div>
				</div>
				<hr></hr>
				<span><h4>Alamat</h4></span>
				<br />
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nama_provinsi">Provinsi</label> 
							<select id="nama_provinsi_select"
								class="form-control">
								<option th:each="provinsi : ${provinsis}" th:value="${provinsi.provinsi_id}" th:text="${provinsi.nama_provinsi}"></option>							
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="kota_kabupaten_id">Kabupaten/Kota</label>
							<select id="kota_kabupaten_select"
								name="kota_kabupaten_id" class="form-control">
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="kecamatan">Nama Kecamatan</label> <input type="text"
								name="kecamatan" class="form-control"
								placeholder="Nama Kecamatan" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="kelurahan">Nama Kelurahan</label> <input type="text"
								name="kelurahan" class="form-control"
								placeholder="Nama Kelurahan" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="jalan">Nama Jalan</label> <input type="text"
								name="jalan" class="form-control" placeholder="Nama Jalan" />
						</div>
					</div>
				</div>
				<div class="row">	
					<div class="col-md-6">
						<div class="form-group">
							<label for="kode_pos">Kode Pos</label> <input type="text"
								name="kode_pos" class="form-control" placeholder="Kode Pos" />
						</div>
					</div>
				</div>
				<hr></hr>
				<span><h4>Pendidikan terakhir</h4></span>
				<br />
				<!-- <div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="jenjang">Jenjang</label> <input type="text" name="jenjang"
								class="form-control" placeholder="Jenjang" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nama_institusi">Nama Institusi</label> <input type="text" name="nama_institusi"
								class="form-control" placeholder="Nama Institusi" />
						</div>
					</div>
				</div> -->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nama_tingkat_pendidikan">Tingkat Pendidikan Terakhir</label> 
							<select id="nama_tingkat_pendidikan_select"
								class="form-control">
								<option th:each="tingkatPendidikan : ${tingkatPendidikans}" th:value="${tingkatPendidikan.tingkat_pendidikan_id}" th:text="${tingkatPendidikan.nama_tingkat_pendidikan}"></option>							
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="jenjang">Jenjang</label> 
							<select id="nama_jenjang_select" name="jenjang"
								class="form-control">
								<option th:each="jenjang : ${jenjangs}" th:value="${jenjang.jenjang_id}" th:text="${jenjang.nama_jenjang}"></option>							
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="institusi_id">Nama Institusi</label>
							<select id="institusi_select"
								name="institusi_id" class="form-control">
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nomor_ijazah">Nomor Ijazah</label> <input type="text"
								name="nomor_ijazah" class="form-control"
								placeholder="Nomor Ijazah" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Scan Ijazah</span>
								<span class="input-group-btn">
									<input class="btn btn-warning" type="file" name="scan_ijazah" placeholder="Scan Ijazah">Browse</input>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Scan Pernyataan Ijazah</span>
								<span class="input-group-btn">
									<input class="btn btn-warning" type="file" name="scan_pernyataan_ijazah" placeholder="Scan Pernyataan Ijazah">Browse</input>
								</span>
							</div>
						</div>
					</div>					
				</div>
				<hr></hr>
				<span><h4>Ukuran Jaket Almamater</h4></span>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="ukuran_jaket"></label> <br></br>
								<input type="radio" name="ukuran_jaket" value="S">S</input>
								<input type="radio" name="ukuran_jaket" value="M">M</input>
								<input type="radio" name="ukuran_jaket" value="L">L</input>
								<input type="radio" name="ukuran_jaket" value="XL">XL</input>
								<input type="radio" name="ukuran_jaket" value="XXL">XXL</input>
						</div>
					</div>
				</div>
				<span><h4>Data Kesehatan</h4></span>
				<br />
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nomor_asuransi">Nomor Asuransi</label> <input
								type="text" name="nomor_asuransi" class="form-control"
								placeholder="Nomor Asuransi" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nomor_asuransi">Nomor Penerbit Asuransi</label> <input
								type="text" name="nomor_penerbit_asuransi" class="form-control"
								placeholder="Nomor Penerbit Asuransi" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nomor_asuransi">Tanggal Kadaluarsa Asuransi</label> <input
								type="text" name="expired_date" class="form-control"
								placeholder="YYYY-MM-DD" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Scan Kartu Asuransi</span>
								<span class="input-group-btn">
									<input class="btn btn-warning" type="file" name="scan_kartu" placeholder="Scan Kartu Asuransi">Browse</input>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Form Survey Kesehatan</span>
								<span class="input-group-btn">
									<input class="btn btn-warning" type="file" name="form_survey_kesehatan"
								placeholder="Upload Form Survey Kesehatan">Browse</input>
								</span>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="hasil_tes_kesehatan">Hasil Tes Kesehatan</label> <input
								type="text" name="hasil_tes_kesehatan" class="form-control"
								placeholder="Hasil Tes Kesehatan" />
						</div>
					</div>
				</div> -->				
				<div class="form-group" style="text-align: center">
					<button class="btn btn-default">Simpan</button>
				</div>
			</form>
		</div>
	</div>
	

	<div class="footer">Modul Registrasi Mahasiswa Baru</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#myTable').dataTable();
			$('#nama_provinsi_select').on('change', function() {
				/* alert($(this).find(':selected').text() + " dipilih"); */
				var nama_provinsi_id = $(this).find(':selected').val();
				
				$.ajax("/api/provinsi/" + nama_provinsi_id, {
			        success: function(data) {
			        	var listOfKotaKabupaten = JSON.parse(data);
			            
			            var options = "";
			            listOfKotaKabupaten.forEach(function(element) {
			                options += '<option value="' + element.id + '">' + element.nama + '</option>';
			            });
			            console.log(options);
			            $('#kota_kabupaten_select').html(options);
			        },
			        error: function (data) {
			        	alert('cek koneksi internet Anda');
			        }
			    });
			});
			$('#agama_id_select').on('change', function() {
				/* alert($(this).find(':selected').text() + " dipilih"); */
				var nama_agama_id = $(this).find(':selected').val();
			});
			$('#nama_jenjang_select').on('change', function() {
				/* alert($(this).find(':selected').text() + " dipilih"); */
				var nama_jenjang_id = $(this).find(':selected').val();
			});
			$('#nama_tingkat_pendidikan_select').on('change', function() {
				/* alert($(this).find(':selected').text() + " dipilih"); */
				var nama_tingkat_pendidikan_id = $(this).find(':selected').val();
				
				$.ajax("/api/tingkat_pendidikan/" + nama_tingkat_pendidikan_id, {
			        success: function(data) {
			        	var listOfInstitusi = JSON.parse(data);
			            
			            var options = "";
			            listOfInstitusi.forEach(function(element) {
			                options += '<option value="' + element.id + '">' + element.nama + '</option>';
			            });
			            console.log(options);
			            $('#institusi_select').html(options);
			        },
			        error: function (data) {
			        	alert('cek koneksi internet Anda');
			        }
			    });
			});
		});
		/* function validateForm(){
			if($('#'))
		} */
	</script>

</body>
</html>