<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="resources"></div>
<title>Calon Mahasiswa - Mengisi IDM</title>
</head>

<body>
	<div th:include="calon_mahasiswa-navbar"></div>

	<div id="contact" class="container">
		<div class="content">
			<div class="row">
				<div class="col-sm-12"><h3>Isian Data Mahasiswa</h3></div>
			</div>
				
			<hr/>
			
			<form action="/biodata/fill/submit" method="post">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="name">Nama</label> <input type="text" name="name"
								class="form-control" placeholder="Nama" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="nomor_ijazah">Nomor Ijazah</label> <input type="text"
								name="nomor_ijazah" class="form-control"
								placeholder="Nomor Ijazah" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nomor_telepon">Nomor Telepon</label> <input
								type="text" name="nomor_telepon" class="form-control"
								placeholder="Nomor Telepon" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="nomor_asuransi">Nomor Asuransi</label> <input
								type="text" name="nomor_asuransi" class="form-control"
								placeholder="Nomor Asuransi" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="tanggal_lahir">Tanggal Lahir</label> <input
								type="text" name="tanggal_lahir" class="form-control"
								placeholder="YYYY-MM-DD" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="sidik_jari">Sidik Jari</label> <input type="text"
								name="sidik_jari" class="form-control" placeholder="Sidik Jari" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="jenis_kelamin">Jenis Kelamin</label> <br></br> <input
								type="radio" name="jenis_kelamin" value="L"> L</input> <input
								type="radio" name="jenis_kelamin" value="P"> P</input>
						</div>

					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="scan_kk">Scan KK</label> <input type="text"
								name="scan_kk" class="form-control" placeholder="Scan KK" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="kewarganegaraan">Kewarganegaraan</label> <input
								type="text" name="kewarganegaraan" class="form-control"
								placeholder="Kewarganegaraan" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="scan_surat_pernyataan_mahasiswa">Scan Surat
								Pernyataan Mahasiswa</label> <input type="text"
								name="scan_surat_pernyataan_mahasiswa" class="form-control"
								placeholder="Surat Pernyataan Mahasiswa" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nomor_ktp">Nomor KTP</label> <input type="text"
								name="nomor_ktp" class="form-control" placeholder="Nomor KTP" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="form_survey_kesehatan">Form Survey Kesehatan</label>
							<input type="text" name="form_survey_kesehatan"
								class="form-control" placeholder="Formulir Survey Kesehatan" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="jalan">Nama Jalan</label> <input type="text"
								name="jalan" class="form-control" placeholder="Nama Jalan" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="kecamatan">Nama Kecamatan</label> <input type="text"
								name="kecamatan" class="form-control"
								placeholder="Nama Kecamatan" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="kelurahan">Nama Kelurahan</label> <input type="text"
								name="kelurahan" class="form-control"
								placeholder="Nama Kelurahan" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="kode_pos">Kode Pos</label> <input type="text"
								name="kode_pos" class="form-control" placeholder="Kode Pos" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="nama_provinsi">Nama Provinsi</label> <select
								class="form-control">
								<option value="32">Jawa Barat</option>
								<!-- <option th:each="provinsi : ${provinsis}" th:value="${provinsi.provinsi_id}" th:text="${provinsi.nama_provinsi}"></option> -->
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="kota_kabupaten_id">Kabupaten/Kota</label> <select
								name="kota_kabupaten_id" class="form-control">
								<option value="3204">Bandung</option>
								<option value="3216">Kabupaten Bekasi</option>
								<option value="3275">Kota Bekasi</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="scan_ktp">Scan KTP</label> <input type="text"
								name="scan_ktp" class="form-control" placeholder="Scan KTP" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="hasil_tes_kesehatan">Hasil Tes Kesehatan</label> <input
								type="text" name="hasil_tes_kesehatan" class="form-control"
								placeholder="Hasil Tes Kesehatan" />
						</div>
					</div>
				</div>
				<div class="form-group" style="text-align: center">
					<button type="submit" value="save" class="btn btn-default">Simpan</button>
				</div>
			</form>
		</div>
	</div>

	<div class="footer">Modul Registrasi Mahasiswa Baru</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#myTable').dataTable();
		});
	</script>

</body>
</html>