<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="resources"></div>
<title>Calon Mahasiswa - Melihat Skema Pembayaran</title>
</head>

<body>
	<div th:include="calon_mahasiswa-navbar"></div>

	<div class="container">
		<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<h3>Lihat Jadwal</h3>
				</div>
			</div>

			<table class="table">
				<thead>
					<tr>
						<td>Jenis Jadwal</td>
						<td>Day</td>
						<td>Date</td>
						<td>Timespan</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="'Jadwal Registrasi'">Jenis Jadwal</td>
						<td th:text="${jadwalRegis.hari}">Hari</td>
						<td th:text="${jadwakRegis.tanggal}">Tanggal</td>
						<td th:text="${jadwalRegis.waktu_awal}+'-'+${jadwalRegis.waktu_akhir}">Waktu
							Awal-Waktu Akhir</td>
					</tr>
					<tr>
						<td th:text="'Jadwal Tes Kesehatan'">Jenis Jadwal</td>
						<td th:text="${hariTesKes}">Hari</td>
						<td th:text="${waktuTesKes}">Tanggal</td>
						<td th:text="${timestampAwalTesKes}+'-'+${timestampAkhirTesKes}">Waktu
							Awal-Waktu Akhir</td>
					</tr>
					<tr>
						<td th:text="'Jadwal English Profiency Test (EPT)'">Jenis
							Jadwal</td>
						<td th:text="${hariEpt}">Hari</td>
						<td th:text="${waktuEpt}">Tanggal</td>
						<td th:text="${timestampAwalEpt}+'-'+${timestampAkhirEpt}">Waktu
							Awal-Waktu Akhir</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="footer">Modul Registrasi Mahasiswa Baru</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('.table').dataTable();
		});
	</script>
</body>
</html>