<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<div th:replace="resources"></div>
        <title>Calon Mahasiswa - Pengajuan Skema Pembayaran</title>
    </head>
	
    <body>
    	<div th:include="calon_mahasiswa-navbar"></div>
		
    	<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-sm-12"><h3>Pengajuan Skema Pembayaran</h3></div>
				</div>
				<hr/>
				
				<div class="row">
					<div class="col-sm-12"><label>Pilihan Golongan</label></div>
					<div class="col-sm-12"><label>Jumlah Biaya yang Diajukan</label></div>
					<div class="col-sm-12"><label>Uang Pangkal</label></div>
					<div class="col-sm-12"><label>Surat Keterangan RT RW</label></div>
					<div class="col-sm-12"><label>Foto Rumah</label></div>
					<div class="col-sm-12"><label>Slip Gaji Pribadi</label></div>
					<div class="col-sm-12"><label>Slip Gaji Wali 1</label></div>
					<div class="col-sm-12"><label>Slip Gaji Wali 2</label></div>
					<div class="col-sm-12"><label>Tagihan Air</label></div>
					<div class="col-sm-12"><label>Tagihan Listrik</label></div>
					<div class="col-sm-12"><label>Tagihan Telepon</label></div>
				</div>
				
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Pilihan Golongan</span>
				  <input type="text" class="form-control" placeholder="Pilihan Golongan" aria-describedby="basic-addon1"/>
				</div>
				
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Jumlah Biaya yang Diajukan</span>
				  <input type="text" class="form-control" placeholder="Jumlah Biaya yang Diajukan" aria-describedby="basic-addon1"/>
				</div>
				
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Uang Pangkal</span>
				  <input type="text" class="form-control" placeholder="Uang Pangkal" aria-describedby="basic-addon1"/>
				</div>
				
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Surat Keterangan RT RW</span>
				  <input type="text" class="form-control" placeholder="Surat Keterangan RT RW" aria-describedby="basic-addon1"/>
				  <span class="input-group-btn">
			        <button class="btn btn-warning" type="button">Browse</button>
			      </span>
				</div>
				
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Foto Rumah</span>
				  <input type="text" class="form-control" placeholder="Foto Rumah" aria-describedby="basic-addon1"/>
				  <span class="input-group-btn">
			        <button class="btn btn-warning" type="button">Browse</button>
			      </span>
				</div>
				
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Slip Gaji Pribadi</span>
				  <input type="text" class="form-control" placeholder="Slip Gaji Pribadi" aria-describedby="basic-addon1"/>
				  <span class="input-group-btn">
			        <button class="btn btn-warning" type="button">Browse</button>
			      </span>
				</div>
				
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Slip Gaji Wali 1</span>
				  <input type="text" class="form-control" placeholder="Slip Gaji Wali 1" aria-describedby="basic-addon1"/>
				  <span class="input-group-btn">
			        <button class="btn btn-warning" type="button">Browse</button>
			      </span>
				</div>
				
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Slip Gaji Wali 2</span>
				  <input type="text" class="form-control" placeholder="Slip Gaji Wali 2" aria-describedby="basic-addon1"/>
				  <span class="input-group-btn">
			        <button class="btn btn-warning" type="button">Browse</button>
			      </span>
				</div>
				
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Tagihan Air</span>
				  <input type="text" class="form-control" placeholder="Tagihan Air" aria-describedby="basic-addon1"/>
				  <span class="input-group-btn">
			        <button class="btn btn-warning" type="button">Browse</button>
			      </span>
				</div>
				
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Tagihan Listrik</span>
				  <input type="text" class="form-control" placeholder="Slip Gaji Wali 2" aria-describedby="basic-addon1"/>
				  <span class="input-group-btn">
			        <button class="btn btn-warning" type="button">Browse</button>
			      </span>
				</div>
				
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">Tagihan Telepon</span>
				  <input type="text" class="form-control" placeholder="Slip Gaji Wali 2" aria-describedby="basic-addon1"/>
				  <span class="input-group-btn">
			        <button class="btn btn-warning" type="button">Browse</button>
			      </span>
				</div>
				
				<hr/>
				
				<div class="btn-group" role="group" aria-label="...">
				  <a th:href="'/calon-mahasiswa/pengajuan-skema/submit'"><button type="button" class="btn btn-default">Ajukan</button></a>
				</div>
			</div>
       	</div>
		
		<div class="footer">Modul Registrasi Mahasiswa Baru</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('#myTable').dataTable();
			});
		</script>
    </body>
</html>