<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<div th:replace="resources"></div>
        <title>Calon Mahasiswa - Melihat Skema Pembayaran</title>
    </head>
	
    <body>
    	<div th:include="calon_mahasiswa-navbar"></div>
		
    	<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-sm-12"><h3>Skema Pembayaran</h3></div>
				</div>
				<hr/>
				<div class="col-xs-6 col-md-3">
				    <a href="#" class="thumbnail">
				      <img src="/img/logo.png" alt="profpic"/>
					</a>
				</div>
				
				<table class="table">
					<tbody>
						<tr><h4 th:text="${mahasiswa.username}">Pilihan Golongan</h4></tr>
						<tr><h4 th:text="${mahasiswa.npm}">Pilihan Golongan</h4></tr>
					</tbody>
				</table>
				
				<h3>Rincian Skema Pembayaran</h3>
				
				<table class="table">
					<tbody>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Status Pengajuan'">Status Pengajuan</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${psbm.status_pengajuan}">Status Pengajuan</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Golongan'">Pilihan Golongan</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${psbm.golongan_id}">Pilihan Golongan</h4></div>
							</td>
						</tr>
						<div th:switch="${rumpun.rumpun_id}">
							<div th:case="'1'">
								<tr>
									<td>
										<div class="col-sm-12"><h4 th:text="'Jumlah Biaya Semester Rumpun Saintek'">Jumlah Biaya</h4></div>
									</td>
									<td>
										<div class="col-sm-12"><h4 th:text="'Rp ' + ${sbm.jumlah_biaya_ipa}">Jumlah Biaya</h4></div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="col-sm-12"><h4 th:text="'Uang Pangkal Rumpun Saintek'">Uang Pangkal</h4></div>
									</td>
									<td>
										<div class="col-sm-12"><h4 th:text="'Rp ' + ${sbm.uang_pangkal_ipa}">Uang Pangkal</h4></div>
									</td>
								</tr>
							</div>
							<div th:case="'2'">
								<tr>
									<td>
										<div class="col-sm-12"><h4 th:text="'Jumlah Biaya Semester Rumpun Soshum'">Jumlah Biaya</h4></div>
									</td>
									<td>
										<div class="col-sm-12"><h4 th:text="'Rp ' + ${sbm.jumlah_biaya_ips}">Jumlah Biaya</h4></div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="col-sm-12"><h4 th:text="'Uang Pangkal Rumpun Soshum'">Uang Pangkal</h4></div>
									</td>
									<td>
										<div class="col-sm-12"><h4 th:text="'Rp ' + ${sbm.uang_pangkal_ips}">Uang Pangkal</h4></div>
									</td>
								</tr>
							</div>
							<div th:case="'3'">
								<tr>
									<td>
										<div class="col-sm-12"><h4 th:text="'Jumlah Biaya Semester Rumpun Kesehatan'">Jumlah Biaya</h4></div>
									</td>
									<td>
										<div class="col-sm-12"><h4 th:text="'Rp ' + ${sbm.jumlah_biaya_ik}">Jumlah Biaya</h4></div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="col-sm-12"><h4 th:text="'Uang Pangkal Rumpun Kesehatan'">Uang Pangkal</h4></div>
									</td>
									<td>
										<div class="col-sm-12"><h4 th:text="'Rp ' + ${sbm.uang_pangkal_ik}">Uang Pangkal</h4></div>
									</td>
								</tr>
							</div>
						</div>
					</tbody>
				</table>
				
				<h3>Dokumen Pengajuan</h3>
				
				<table class="table">
					<tbody>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Surat Keterangan RT RW'">Surat Keterangan RT RW</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><a th:href="${psbm.surat_keterangan_rtrw}">Unduh Scan Surat Keterangan RT RW</a></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Foto Rumah'">Foto Rumah</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><a th:href="${psbm.foto_rumah}">Unduh Foto Rumah</a></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Slip Gaji Pribadi'">Slip Gaji Pribadi</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><a th:text="'Rp ' + ${psbm.gaji_pribadi}" th:href="${psbm.slip_gaji_pribadi}">Unduh Scan Slip Gaji Pribadi</a></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Slip Gaji Wali 1'">Slip Gaji Wali 1</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><a th:text="'Rp ' + ${psbm.gaji_wali1}" th:href="${psbm.slip_gaji_wali1}">Unduh Scan Slip Gaji Wali 1</a></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Slip Gaji Wali 2'">Slip Gaji Wali 2</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><a th:text="'Rp ' + ${psbm.gaji_wali2}" th:href="${psbm.slip_gaji_wali2}">Unduh Scan Slip Gaji Wali 2</a></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Tagihan Air'">Tagihan Air</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><a th:text="'Rp ' + ${psbm.nilai_tagihan_air}" th:href="${psbm.tagihan_air}">Unduh Scan Tagihan Air</a></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Tagihan Listrik'">Tagihan Listrik</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><a th:text="'Rp ' + ${psbm.nilai_tagihan_listrik}" th:href="${psbm.tagihan_listrik}">Unduh Scan Tagihan Listrik</a></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Tagihan Telepon'">Tagihan Telepon</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><a th:text="'Rp ' + ${psbm.nilai_tagihan_telepon}" th:href="${psbm.tagihan_telepon}">Unduh Scan Tagihan Telepon</a></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Komentar'">Komentar</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${psbm.komentar}">Komentar</h4></div>
							</td>
						</tr>
					</tbody>
  				</table>
  				
  				<div><h5 th:text="'Terakhir diubah pada ' + ${psbm.updated_at}"></h5></div>
  				
  				<hr/>
				
				<div class="btn-group" role="group" aria-label="...">
				  <a th:href="'/calon-mahasiswa/skema-pembayaran/pengajuan'"><button type="button" class="btn btn-warning">Ubah Skema Pembayaran</button></a>
				</div>
			</div>
       	</div>
		
		<div class="footer">Modul Registrasi Mahasiswa Baru</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('#myTable').dataTable();
			});
		</script>
    </body>
</html>