<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<div th:replace="resources"></div>
        <title>Calon Mahasiswa - Melihat Isian Data Mahasiswa</title>
    </head>
	
    <body>
    	<div th:include="calon_mahasiswa-navbar"></div>
		
    	<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-sm-12"><h3>Isian Data Mahasiswa</h3></div>
				</div>
				<hr/>
				<div class="col-xs-6 col-md-3">
				    <a href="#" class="thumbnail">
				      <img src="/img/logo.png" alt="profpic"/>
					</a>
				</div>
				
				<table class="table">
					<tbody>
						<!-- <tr><h4 th:text="${biodata.username}">Pilihan Golongan</h4></tr>
						<tr><h4 th:text="${mahasiswa.npm}">Pilihan Golongan</h4></tr> -->
					</tbody>
				</table>
				
				<table class="table">
					<tbody>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Tanggal Lahir'">tanggal lahir</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${biodata.tanggal_lahirr}">tanggal lahir</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Jenis Kelamin'">jenis kelamin</h4></div>
							</td>
							<td>
								<div class="col-sm-12">
									<h4 th:if="${biodata.jenis_kelamin == 'L'}">Laki-Laki</h4>
									<h4 th:if="${biodata.jenis_kelamin != 'L'}">Perempuan</h4>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Nomor Telepon'">nomor telepon</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${biodata.nomor_telepon}">nomor telepon</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Kewarganegaraan'">kewarganegaraan</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${biodata.kewarganegaraan}">kewarganegaraan</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Agama'">agama</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${agama.nama_agama}">agama</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Provinsi'">provinsi</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${provinsi.nama_provinsi}">Provinsi</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Kota Kabupaten'">Kota Kabupaten</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${kotaKabupaten.nama_kota_kabupaten}">Kota Kabupaten</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Kecamatan'">Kecamatan</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${alamat.kecamatan}">Kecamatan</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Kelurahan'">Kelurahan</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${alamat.kelurahan}">Kelurahan</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Nama Jalan'">Nama Jalan</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${alamat.jalan}">Nama Jalan</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Kode pos'">Kode Pos</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${alamat.kode_pos}">Kode Pos</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Nomor KTP'">nomor ktp</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${biodata.nomor_ktp}">nomor ktp</h4></div>
							</td>
						</tr>
<!-- 						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Sidik Jari'">sidik jari</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${biodata.sidik_jari}">sidik jari</h4></div>
							</td>
						</tr> -->
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Scan KTP'">scan ktp</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4><a th:href="${biodata.scan_ktp}">Unduh Scan KTP</a></h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Scan KK'">scan kk</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4><a th:href="${biodata.scan_kk}"> Unduh Scan KK</a> </h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Scan Surat Pernyataan Mahasiswa'">scan surat pernyataan mahasiswa</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4> <a th:href="${biodata.scan_surat_pernyataan_mahasiswa}">Unduh Scan Surat Pernyataan Mahasiswa </a></h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Status Verifikasi'">status verifikasi</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${biodata.status_verifikasi}">status verifikasi</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Ukuran Jaket'">ukuran jaket</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${biodata.ukuran_jaket}">ukuran jaket</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Tingkat Pendidikan Terakhir'">tingkat pendidikan</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${tingkatPendidikan.nama_tingkat_pendidikan}">tingkat pendidikan</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Jenjang Pendidikan Terakhir'">jenjang</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${ijazah.jenjang}">jenjang</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Nama Institusi'">nama institusi</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${institusi.nama_institusi}">nama institusi</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Nomor Ijazah'">nomor ijazah</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${ijazah.nomor_ijazah}">nomor ijazah</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Scan Ijazah'">scan ijazah</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4> <a th:href="${ijazah.scan_ijazah}">Unduh Scan Ijazah</a></h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Scan Pernyataan Ijazah'">scan pernyataan ijazah</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4> <a th:href="${ijazah.scan_pernyataan_ijazah}">Unduh Scan Pernyataan Ijazah </a></h4></div>
							</td>
						</tr>
						
						<!-- DATA KESEHATAN -->
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Nomor Asuransi'">Nomor Asuransi</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${asuransiKesehatan.nomor_asuransi}">Nomor Asuransi</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Nomor Penerbit Asuransi'">Nomor Penerbit Asuransi</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${asuransiKesehatan.nomor_penerbit_asuransi}">Nomor Penerbit Asuransi</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Expired Date'">Expired Date</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${asuransiKesehatan.expired_date_format}">Expired Date</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Scan Kartu'">Scan Kartu Asuransi</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4><a th:href="${asuransiKesehatan.scan_kartu}">Unduh Scan Kartu Asuransi</a></h4></div>
							</td>
						</tr>
						<!-- <tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Created by'">created by</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${biodata.created_by}">created by</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Created at'">created at</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${biodata.created_at}">created at</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Updated by'">updated by</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${biodata.updated_by}">updated by</h4></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="col-sm-12"><h4 th:text="'Updated at'">updated at</h4></div>
							</td>
							<td>
								<div class="col-sm-12"><h4 th:text="${biodata.updated_at}">updated at</h4></div>
							</td>
						</tr> -->
						
					</tbody>
  				</table>
  				<hr/>
				
				<div class="btn-group" role="group" aria-label="...">
				  <a href="/calon-mahasiswa/biodata/update"><button type="button" class="btn btn-warning">Ubah IDM</button></a>
<!-- <a th:href="'/matkul/update/'+${matkul.id_matkul}"><button type="button" class="btn btn-primary">Update Mata Kuliah</button></a> -->	
				</div>
			</div>
       	</div>
		
		<div class="footer">Modul Registrasi Mahasiswa Baru</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('#myTable').dataTable();
			});
		</script>
    </body>
</html>