<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="resources"></div>
<title>Calon Mahasiswa</title>
</head>

<body>
	<div th:include="calon_mahasiswa-navbar"></div>

	<div class="container">
		<div class="content content-top">
			<div class="row">
				<div class="col-sm-12">
					<h3><span class="glyphicon glyphicon-home"></span>Home</h3>
				</div>
			</div>

			<hr />
			
			<div class="col-xs-4 col-md-4 content-profpic">
				<a href="#" class="thumbnail"> 
					<img src="/c6/img/logo.png" alt="profpic" />
				</a>
			</div>

			<table class="tg">
				<tbody>
					<div><tr><label>Username :<h4 th:text="${mahasiswa.username}">Username</h4></label></tr></div>
					<div><tr><label>NPM :<h4 th:text="${mahasiswa.npm}">NPM</h4></label></tr></div>
					<div><tr><label>Fakultas :<h4 th:text="${mahasiswa.fakultas}">Fakultas</h4></label></tr></div>
					<div><tr><label>Program Studi :<h4 th:text="${mahasiswa.program_studi.nama_program_studi}">ProgramStudi</h4></label></tr></div>
					
					<div th:if="${psbm == null}">
						<tr><label>Status Pengajuan Pembayaran :<h4 style="color:#fca300;">Belum Mengisi Pengajuan Pembayaran</h4></label></tr>
					</div>
					<div th:unless="${psbm == null}">
						<tr><label>Status Pengajuan Pembayaran :<h4><span th:text="${psbm.status_pengajuan}">Unverified Ceritanya</span>
							<span th:if="${psbm.komentar != null}" th:text="' - &quot;'+${psbm.komentar}+'&quot;'">Komentar</span>
						</h4></label></tr>
					</div>
					
					<div th:if="${mahasiswa.biodata == null}">
						<tr><label>Status Verifikasi IDM :<h4 style="color:#fca300;">Belum Mengisi IDM</h4></label></tr>
					</div>
					<div th:unless="${mahasiswa.biodata == null}">
						<tr><label>Status Verifikasi IDM :<h4><span th:text="${mahasiswa.biodata.status_verifikasi}">Unverified Ceritanya</span>
							<span th:if="${mahasiswa.biodata.komentar != null}" th:text="' - &quot;'+${mahasiswa.biodata.komentar}+'&quot;'">Komentar</span>
						</h4></label></tr>
					</div>
				</tbody>
			</table>
		</div>
		
		<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<h3><span class="glyphicon glyphicon-time"></span>Jadwal</h3>
				</div>
			</div>

			<hr />

			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Jenis Jadwal</th>
							<th style="text-align: center;">Day</th>
							<th style="text-align: center;">Date</th>
							<th style="text-align: center;">Timespan</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${jadwalRegis!=null}">
							<td th:text="'Jadwal Registrasi'">Jenis Jadwal</td>
							<td th:text="${jadwalRegis.hari}" style="text-align: center;">Hari</td>
							<td th:text="${jadwalRegis.tanggal}" style="text-align: center;">Tanggal</td>
							<td
								th:text="${jadwalRegis.waktu_awal}+'-'+${jadwalRegis.waktu_akhir}"
								style="text-align: center;">Waktu Awal-Waktu Akhir</td>
						</tr>
						<tr th:if="${jadwalRegis==null}">
							<td th:text="'Jadwal Registrasi belum ditentukan'">Jenis Jadwal</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr th:if="${jadwalTesKes!=null}">
							<td th:text="'Jadwal Tes Kesehatan'">Jenis Jadwal</td>
							<td th:text="${jadwalTesKes.hari}" style="text-align: center;">Hari</td>
							<td th:text="${jadwalTesKes.tanggal}" style="text-align: center;">Tanggal</td>
							<td
								th:text="${jadwalTesKes.waktu_awal}+'-'+${jadwalTesKes.waktu_akhir}"
								style="text-align: center;">Waktu Awal-Waktu Akhir</td>
						</tr>
						<tr th:if="${jadwalTesKes==null}">
							<td th:text="'Jadwal Tes Kesehatan belum ditentukan'">Jenis Jadwal</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr th:if="${jadwalEpt!=null}">
							<td th:text="'Jadwal English Profiency Test (EPT)'">Jenis
								Jadwal</td>
							<td th:text="${jadwalEpt.hari}" style="text-align: center;">Hari</td>
							<td th:text="${jadwalEpt.tanggal}" style="text-align: center;">Tanggal</td>
							<td
								th:text="${jadwalEpt.waktu_awal}+'-'+${jadwalEpt.waktu_akhir}"
								style="text-align: center;">Waktu Awal-Waktu Akhir</td>
						</tr>
						<tr th:if="${jadwalEpt==null}">
							<td th:text="'Jadwal English Profiency Test (EPT) belum ditentukan'">Jenis Jadwal</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row" style="text-align: center; padding: 3%;">
				<div class="col-sm-12">
					<a href="#"><img src="/c6/img/profile_timeline.png"
						alt="Timeline" style="width: 100%;" /></a>
				</div>
			</div>
		</div>
	</div>

	<div th:include="footer"></div>

	<script type="text/javascript">
		
	</script>
</body>
</html>