<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<div th:replace="resources"></div>
        <title>Calon Mahasiswa - Pengajuan Skema Pembayaran</title>
    </head>
	
    <body>
    	<div th:include="calon_mahasiswa-navbar"></div>
		
    	<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-sm-12"><h3>Pengajuan Skema Pembayaran</h3></div>
				</div>
				<hr/>
				
				<div class="row">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">Pilihan Golongan</span>
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">Jumlah Biaya yang Diajukan</span>
					  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">Uang Pangkal</span>
					  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">Surat Keterangan RT RW</span>
					  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
					  <span class="input-group-btn">
				        <a th:href="'/calon-mahasiswa/pengajuan-skema/submit'"><button type="button" class="btn btn-warning">Browse</button></a>
				      </span>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">Foto Rumah</span>
					  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
					  <span class="input-group-btn">
				        <a th:href="'/calon-mahasiswa/pengajuan-skema/submit'"><button type="button" class="btn btn-warning">Browse</button></a>
				      </span>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">Slip Gaji Pribadi</span>
					  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
					  <span class="input-group-btn">
				        <a th:href="'/calon-mahasiswa/pengajuan-skema/submit'"><button type="button" class="btn btn-warning">Browse</button></a>
				      </span>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">Slip Gaji Wali 1</span>
					  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
					  <span class="input-group-btn">
				        <a th:href="'/calon-mahasiswa/pengajuan-skema/submit'"><button type="button" class="btn btn-warning">Browse</button></a>
				      </span>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">Slip Gaji Wali 2</span>
					  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
					  <span class="input-group-btn">
				        <a th:href="'/calon-mahasiswa/pengajuan-skema/submit'"><button type="button" class="btn btn-warning">Browse</button></a>
				      </span>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">Tagihan Air</span>
					  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
					  <span class="input-group-btn">
				        <a th:href="'/calon-mahasiswa/pengajuan-skema/submit'"><button type="button" class="btn btn-warning">Browse</button></a>
				      </span>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">Tagihan Listrik</span>
					  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
					  <span class="input-group-btn">
				        <a th:href="'/calon-mahasiswa/pengajuan-skema/submit'"><button type="button" class="btn btn-warning">Browse</button></a>
				      </span>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon3">Tagihan Telepon</span>
					  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"/>
					  <span class="input-group-btn">
				        <a th:href="'/calon-mahasiswa/pengajuan-skema/submit'"><button type="button" class="btn btn-warning">Browse</button></a>
				      </span>
					</div>
				</div>
				<hr/>
				
				<div class="btn-group" role="group" aria-label="...">
				  <a th:href="'/calon-mahasiswa/pengajuan-skema/submit'"><button type="button" class="btn btn-default">Ajukan</button></a>
				</div>
			</div>
       	</div>
		
		<div class="footer">Modul Registrasi Mahasiswa Baru</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('#myTable').dataTable();
			});
		</script>
    </body>
</html>