<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<div th:replace="resources"></div>
        <title>Calon Mahasiswa - Pengajuan Skema Pembayaran</title>
    </head>
	
    <body>
    	<div th:include="calon_mahasiswa-navbar"></div>
		
    	<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-sm-12"><h3>Pengajuan Skema Pembayaran</h3></div>
				</div>
				<hr/>
				
				<div class="row">
					<div class="col-sm-12"><label>Pilihan Golongan</label></div>
					<div class="col-sm-12"><label>Jumlah Biaya yang Diajukan</label></div>
					<div class="col-sm-12"><label>Uang Pangkal</label></div>
					<div class="col-sm-12"><label>Surat Keterangan RT RW</label></div>
					<div class="col-sm-12"><label>Foto Rumah</label></div>
					<div class="col-sm-12"><label>Slip Gaji Pribadi</label></div>
					<div class="col-sm-12"><label>Slip Gaji Wali 1</label></div>
					<div class="col-sm-12"><label>Slip Gaji Wali 2</label></div>
					<div class="col-sm-12"><label>Tagihan Air</label></div>
					<div class="col-sm-12"><label>Tagihan Listrik</label></div>
					<div class="col-sm-12"><label>Tagihan Telepon</label></div>
				</div>
				<hr/>
				
				<div class="btn-group" role="group" aria-label="...">
				  <a th:href="'/calon-mahasiswa/pengajuan-skema/submit'"><button type="button" class="btn btn-default">Ajukan</button></a>
				</div>
				
<!-- 				<ul class="list-group">
				  <li class="list-group-item">Pilihan Golongan</li>
				  <li class="list-group-item"><div class="col-sm-12"><label>Jumlah Biaya yang Diajukan</label></div></li>
				  <li class="list-group-item"><div class="col-sm-12"><label>Uang Pangkal</label></div></li>
				  <li class="list-group-item"><div class="col-sm-12"><label>Surat Keterangan RT RW</label></div></li>
				  <li class="list-group-item"><div class="col-sm-12"><label>Foto Rumah</label></div></li>
				</ul> -->
			</div>
       	</div>
		
		<div class="footer">Modul Registrasi Mahasiswa Baru</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('#myTable').dataTable();
			});
		</script>
    </body>
</html>