<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<div th:replace="resources"></div>
        <title>Calon Mahasiswa - Pengajuan Skema Pembayaran</title>
    </head>
	
    <body>
    	<div th:include="calon_mahasiswa-navbar"></div>
		
    	<div class="container">
			<div class="content">
				<div class="row">
					<div class="col-sm-12"><h3>Halaman tidak ditemukan</h3></div>
				</div>
				
				<div class="btn-group" role="group" aria-label="...">
					<a th:href="'/'"><button type="button" class="btn btn-default">Kembali</button></a>
				</div>
			</div>
       	</div>
		
		<div class="footer">Modul Registrasi Mahasiswa Baru</div>
    </body>
</html>