<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<div th:replace="resources"></div>
        <title>ERROR!</title>
    </head>
	
    <body>
    	<div class="container">
			<div class="content content-top">
				<div class="row">
					<div class="col-sm-12"><h1>:(</h1></div>
					<div class="col-sm-12"><h3>Halaman tidak ditemukan</h3></div>
				</div>
				
				<div class="btn-group" role="group" aria-label="...">
					<a th:href="'/c6/'"><button type="button" class="btn btn-default">Kembali</button></a>
				</div>
			</div>
       	</div>
		
		<div th:include="footer"></div>
    </body>
</html>