<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">
	<head>
		<title>CSS</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.0/css/bulma.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.0/css/bulma.min.css.map"/>
	</head>
	
	<body>
		<section class="hero is-dark">
		<!-- <div class="hero-head">
		    <header class="nav">
		      <div class="container">
		        <div class="nav-left">
		          <a class="nav-item">
		            <img src="images/bulma-type-white.png" alt="Logo"/>
		          </a>
		        </div>
		        <span class="nav-toggle">
		          <span></span>
		          <span></span>
		          <span></span>
		        </span>
		        <div class="nav-right nav-menu">
		          <a class="nav-item is-active">
		            Home
		          </a>
		          <a class="nav-item">
		            Examples
		          </a>
		          <a class="nav-item">
		            Documentation
		          </a>
		          <span class="nav-item">
		            <a class="button is-info is-inverted">
		              <span class="icon">
		                <i class="fa fa-github"></i>
		              </span>
		              <span>Download</span>
		            </a>
		          </span>
		        </div>
		      </div>
		    </header>
		  </div> -->
		
		
		  <div class="hero-body">
		    <div class="container">
		      <!-- <img src="/img/logoc6.png" alt="Logo"/> -->
		      	<figure class="image is-128x128">
				  <img src="/img/logoc6.png" alt="Logo"/>
				</figure>
<!-- 		      <h1 class="title">
		        Primary title
		      </h1>
		      <h2 class="subtitle">
		        Primary subtitle
		      </h2> -->
		    </div>
		  </div>
		  
		  <div class="hero-foot">
		    <nav class="tabs is-boxed is-fullwidth">
		      <div class="container">
		        <ul>
		          <li><a>IDM</a></li>
		          <li class="is-active"><a>Skema Pembayaran</a></li>
		          <li><a>Survey Kesehatan</a></li>
		          <li><a>Jadwal</a></li>
		          <li><a>Keluar</a></li>
		        </ul>
		      </div>
		    </nav>
		  </div>
		</section>
	</body>
</html>