<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">
	<head>
		<title>CSS</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.0/css/bulma.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.0/css/bulma.min.css.map"/>
	</head>
	
	<body>
		<section class="hero is-dark">
		  <div class="hero-body">
		    <div class="container">
		      <h1 class="title">
		        Primary title
		      </h1>
		      <h2 class="subtitle">
		        Primary subtitle
		      </h2>
		    </div>
		  </div>
		</section>
		</body>
</html>