<!-- 
Navbar/Header for Manager Pendidikan
-->

<nav class="navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a th:href="'/c6/'"><img class="navbar-brand" src="/c6/img/logo.png" alt="Logo"/></a>
		</div>
		
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-left">
				<div class="dropdown">
					<a th:href="'/c6/manager-pendidikan/statistik-verifikator/snmptn'"><button class="dropbtn">Statistik SNMPTN</button></a>
				</div>
			</ul>
			
			<ul class="nav navbar-nav navbar-left">
				<div class="dropdown">
					<a th:href="'/c6/manager-pendidikan/statistik-verifikator/sbmptn'"><button class="dropbtn">Statistik SBMPTN</button></a>
				</div>
			</ul>
			
			<ul class="nav navbar-nav navbar-left">
				<div class="dropdown">
					<a th:href="'/c6/manager-pendidikan/statistik-verifikator/mandiri'"><button class="dropbtn">Statistik MANDIRI</button></a>
				</div>
			</ul>
			
			<ul class="nav navbar-nav navbar-left">
				<div class="dropdown">
					<a th:href="'/c6/manager-pendidikan/statistik-manager/fakultas'"><button class="dropbtn">Statistik Manager</button></a>
				</div>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<div class="dropdown">
					<a th:href="'/c6/logout'"><button class="dropbtn">Keluar</button></a>
				</div>
			</ul>
		</div>
	</div>
	
	
	<div class="navbar-strip"/>
</nav>