<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="resources"></div>
		<title>Manager Pendidikan - Statistik Registrasi</title>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	    <script type="text/javascript" th:inline="javascript">
		    /*<![CDATA[*/
				// Load the Visualization API and the corechart package.
			    google.charts.load('current', {'packages':['corechart']});
			
			    // Set a callback to run when the Google Visualization API is loaded.
			    google.charts.setOnLoadCallback(drawFacultyChart);
			    google.charts.setOnLoadCallback(drawMajorChart);
			    google.charts.setOnLoadCallback(drawLevelChart);
			    google.charts.setOnLoadCallback(drawProgramChart);
			    
			    google.charts.setOnLoadCallback(drawRegFacultyChart);
			    google.charts.setOnLoadCallback(drawRegMajorChart);
			    google.charts.setOnLoadCallback(drawRegLevelChart);
			    google.charts.setOnLoadCallback(drawRegProgramChart);
			    
			    google.charts.setOnLoadCallback(drawSumFacultyChart);
			    
			    var f = [[${faculties}]];
			    var m = [[${majors}]];
			    var l = [[${levels}]];
			    var p = [[${programs}]];
			    
			    var rf = [[${regFaculties}]];
			    var rm = [[${regMajors}]];
			    var rl = [[${regLevels}]];
			    var rp = [[${regPrograms}]];
			    
			    var sf = [[${sumFaculties}]];
			
			    // Callback that creates and populates a data table,
			    // instantiates the pie chart, passes in the data and
			    // draws it. 
			    function drawFacultyChart() {
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'Fakultas');
			      data.addColumn('number', 'Jumlah');
			      
			      var total = 0;
			      for(var i = 0; i < f.length; i++)
		    	  {
			    	  data.addRow([f[i].jenis_rekap, f[i].jumlah]);
			    	  total = total+f[i].jumlah;
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Total Pendaftar (Total : ' + total + ')',
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
				  var chart = new google.visualization.PieChart(document.getElementById('faculty'));
			      chart.draw(data, options);
			      console.log("chart");
			    }
			    
			    function drawRegFacultyChart() {
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'Fakultas');
			      data.addColumn('number', 'Jumlah');
			      
			      var total = 0;
			      for(var i = 0; i < rf.length; i++)
		    	  {
			    	  data.addRow([rf[i].jenis_rekap, rf[i].jumlah]);
			    	  total = total+rf[i].jumlah;
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Pendaftar Ulang (Total : ' + total + ')',
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
				  var chart1 = new google.visualization.PieChart(document.getElementById('regFaculty_pie'));
				  var chart2 = new google.visualization.BarChart(document.getElementById('regFaculty_bar'));
				  chart1.draw(data, options);
				  chart2.draw(data, options);
			    }
			    
			    function drawSumFacultyChart() {
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      
			      data.addColumn('string', 'Fakultas');
			      data.addColumn('number', 'Total Pendaftar');
			      data.addColumn('number', 'Pendaftar Ulang');
			      data.addColumn('number', 'Tidak Mendaftar');
			      
			      for(var i = 0; i < sf.length; i++)
		    	  {
			    	  data.addRow([sf[i].nama, sf[i].total, sf[i].regis, sf[i].non_regis]);
			    	  //data.addRow(['lala', 1, 1, 1]);
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Registran Fakultas',
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
				  var chart2 = new google.visualization.BarChart(document.getElementById('sumFaculty_bar'));
				  chart2.draw(data, options);
			    }

			    function drawMajorChart() {
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'Program Studi');
			      data.addColumn('number', 'Jumlah');
			      
			      var total = 0;
			      for(var i = 0; i < m.length; i++)
		    	  {
			    	  data.addRow([m[i].jenis_rekap, m[i].jumlah]);
			    	  total = total+m[i].jumlah;
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Pendaftar Program Studi (Total : ' + total + ')',
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
				  var chart = new google.visualization.PieChart(document.getElementById('major'));
			      chart.draw(data, options);
			      console.log("chart");
			    }
			    
			    function drawRegMajorChart() {
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'Program Studi');
			      data.addColumn('number', 'Jumlah');
			      
			      var total = 0;
			      for(var i = 0; i < rm.length; i++)
		    	  {
			    	  data.addRow([rm[i].jenis_rekap, rm[i].jumlah]);
			    	  total = total+rm[i].jumlah;
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Registran Program Studi (Total : ' + total + ')',
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
				  var chart1 = new google.visualization.PieChart(document.getElementById('regMajor_pie'));
				  var chart2 = new google.visualization.BarChart(document.getElementById('regMajor_bar'));
			      chart1.draw(data, options);
			      chart2.draw(data, options);
			    }
			    
			    function drawLevelChart() {
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'Jenjang');
			      data.addColumn('number', 'Jumlah');
			      
			      var total = 0;
			      for(var i = 0; i < l.length; i++)
		    	  {
			    	  data.addRow([l[i].jenis_rekap, l[i].jumlah]);
			    	  total = total+l[i].jumlah;
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Pendaftar Jenjang (Total : ' + total + ')',
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
				  var chart = new google.visualization.PieChart(document.getElementById('level'));
			      chart.draw(data, options);
			      console.log("chart");
			    }
			    
			    function drawRegLevelChart() {
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'Jenjang');
			      data.addColumn('number', 'Jumlah');
			      
			      var total = 0;
			      for(var i = 0; i < rl.length; i++)
		    	  {
			    	  data.addRow([rl[i].jenis_rekap, rl[i].jumlah]);
			    	  total = total+rl[i].jumlah;
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Registran Jenjang (Total : ' + total + ')',
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
				  var chart1 = new google.visualization.PieChart(document.getElementById('regLevel_pie'));
				  var chart2 = new google.visualization.BarChart(document.getElementById('regLevel_bar'));
			      chart1.draw(data, options);
			      chart2.draw(data, options);
			    }
			    
			    function drawProgramChart() {
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'Program');
			      data.addColumn('number', 'Jumlah');
			      
			      var total = 0;
			      for(var i = 0; i < p.length; i++)
		    	  {
			    	  data.addRow([p[i].jenis_rekap, p[i].jumlah]);
			    	  total = total+p[i].jumlah;
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Pendaftar Program (Total : ' + total + ')',
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
				  var chart = new google.visualization.PieChart(document.getElementById('program'));
			      chart.draw(data, options);
			      console.log("chart");
			    }
			    
			    function drawRegProgramChart() {
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'Program');
			      data.addColumn('number', 'Jumlah');
			      
			      var total = 0;
			      for(var i = 0; i < rp.length; i++)
		    	  {
			    	  data.addRow([rp[i].jenis_rekap, rp[i].jumlah]);
			    	  total = total+rp[i].jumlah;
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Registran Program (Total : ' + total + ')',
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
				  var chart1 = new google.visualization.PieChart(document.getElementById('regProgram_pie'));
				  var chart2 = new google.visualization.BarChart(document.getElementById('regProgram_bar'));
			      chart1.draw(data, options);
			      chart2.draw(data, options);
			    }
			    
			    $('#modalCalon').on('show.bs.modal', function(e) {

			        setTimeout(
			        function() 
			        {
			        	drawFacultyChart();
			        }, 500);
			        
			        setTimeout(
			        function() 
			        {
			        	drawMajorChart();
			        }, 500);
			        
			        setTimeout(
			        function() 
			        {
			        	drawLevelChart();
			        }, 500);
			        
			        setTimeout(
			        function() 
			        {
			        	drawProgramChart();
			        }, 500);		        

			    })
		    /*]]>*/
	    </script>
	</head>
	<body>
		<div th:include="staf_registrasi-navbar"></div>
	
			<div class="content">
				<div class="row">
					<div class="col-sm-12">
						<h3>Statistik Registrasi Mahasiswa Baru</h3>
					</div>
				</div>
				 
				<div class="tab">
					<button class="tablinks" onclick="openJadwal(event, 'tabFakultas')" id="defaultOpen">
						Fakultas
					</button>
					<button class="tablinks" onclick="openJadwal(event, 'tabProdi')">
						Program Studi
					</button>
					<button class="tablinks" onclick="openJadwal(event, 'tabJenjang')">
						Jenjang
					</button>
					<button class="tablinks" onclick="openJadwal(event, 'tabProgram')">
						Program
					</button>
				</div>
				
				<div id="tabFakultas" class="tabcontent">
					<h4>Statistik Registrasi - Fakultas</h4>
					
					<hr/>
					
					<table>
						<tbody>
							<tr>
								<td th:id="'faculty'"></td>
								<td th:id="'sumFaculty_bar'"></td>
							</tr>
							<tr>
								<td th:id="'regFaculty_pie'"></td>
								<td th:id="'regFaculty_bar'"></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div id="tabProdi" class="tabcontent">
					<h4>Statistik Registrasi - Program Studi</h4>
					
					<hr/>
					
					<table>
						<tbody>
							<tr>
								<td th:id="'major'"></td>
							</tr>
							<tr>
								<td th:id="'regMajor_pie'"></td>
								<td th:id="'regMajor_bar'"></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div id="tabJenjang" class="tabcontent">
					<h4>Statistik Registrasi - Jenjang</h4>
					
					<hr/>
					
					<table>
						<tbody>
							<tr>
								<td th:id="'level'"></td>
							</tr>
							<tr>
								<td th:id="'regLevel_pie'"></td>
								<td th:id="'regLevel_bar'"></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div id="tabProgram" class="tabcontent">
					<h4>Statistik Registrasi - Program</h4>
					
					<hr/>
					
					<table>
						<tbody>
							<tr>
								<td th:id="'program'"></td>
							</tr>
							<tr>
								<td th:id="'regProgram_pie'"></td>
								<td th:id="'regProgram_bar'"></td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
	
		<div class="footer">Modul Registrasi Mahasiswa Baru</div>
	</body>
	
	<script type="text/javascript">
			$(document)
			.ready(
					function() {
						var i, tabcontent, tablinks;
						tabcontent = document.getElementsByClassName("tabcontent");
						i = 0;
						while (i != tabcontent.length) {
							tabcontent[i].style.display = "none";
							i++;
						}
						tablinks = document.getElementsByClassName("tablinks");
						i = 0;
						while (i != tablinks.length) {
							tablinks[i].className = tablinks[i].className
									.replace(" active", "");
							i++;
						}
						document.getElementById('tabFakultas').style.display = "block";
						document.getElementById('tabProdi').style.display = "block";
						document.getElementById('tabJenjang').style.display = "block";
						document.getElementById('tabProgram').style.display = "block";
						evt.currentTarget.className += " active";
					});
			function openJadwal(evt, jadwalName) {
				var i, tabcontent, tablinks;
				tabcontent = document.getElementsByClassName("tabcontent");
				i = 0;
				while (i != tabcontent.length) {
					tabcontent[i].style.display = "none";
					i++;
				}
				tablinks = document.getElementsByClassName("tablinks");
				i = 0;
				while (i != tablinks.length) {
					tablinks[i].className = tablinks[i].className.replace(
							" active", "");
					i++;
				}
				document.getElementById(jadwalName).style.display = "block";
				evt.currentTarget.className += " active";
			}
		</script>
</html>