<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="resources"></div>
		<title>Manager Pendidikan - Statistik Program Studi</title>
		
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	    <script type="text/javascript" th:inline="javascript">
		    /*<![CDATA[*/
				// Load the Visualization API and the corechart package.
			    google.charts.load('current', {'packages':['corechart']});
			
			    var m = [[${majors}]];
			    var rm = [[${regMajors}]];
			    var sm = [[${sumMajors}]];
			    
			    // Set a callback to run when the Google Visualization API is loaded.
			    google.charts.setOnLoadCallback(drawMajorChart);
			    google.charts.setOnLoadCallback(drawRegMajorChart);
			    google.charts.setOnLoadCallback(drawSumMajorChart);
			
			    // Callback that creates and populates a data table,
			    // instantiates the pie chart, passes in the data and
			    // draws it. 
			    function drawMajorChart() {
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'Program Studi');
			      data.addColumn('number', 'Jumlah');
			      
			      var total = 0;
			      for(var i = 0; i < m.length; i++)
		    	  {
			    	  data.addRow([m[i].jenis_rekap, m[i].jumlah]);
			    	  total = total+m[i].jumlah;
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Total Pendaftar Setiap Program Studi (Total : ' + total + ')',
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
				  var chart = new google.visualization.PieChart(document.getElementById('major'));
			      chart.draw(data, options);
			      console.log("chart");
			    }
			    
			    function drawRegMajorChart() {
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'Program Studi');
			      data.addColumn('number', 'Jumlah');
			      
			      var total = 0;
			      for(var i = 0; i < rm.length; i++)
		    	  {
			    	  data.addRow([rm[i].jenis_rekap, rm[i].jumlah]);
			    	  total = total+rm[i].jumlah;
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Pendaftar Ulang Setiap Program Studi (Total : ' + total + ')',
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
				  var chart1 = new google.visualization.PieChart(document.getElementById('regMajor_pie'));
				  var chart2 = new google.visualization.BarChart(document.getElementById('regMajor_bar'));
			      chart1.draw(data, options);
			      chart2.draw(data, options);
			    }
			    
			    function drawSumMajorChart() {
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      
			      data.addColumn('string', 'Program Studi');
			      data.addColumn('number', 'Total Pendaftar');
			      data.addColumn('number', 'Pendaftar Ulang');
			      data.addColumn('number', 'Tidak Mendaftar');
			      
			      for(var i = 0; i < sm.length; i++)
		    	  {
			    	  data.addRow([sm[i].nama, sm[i].total, sm[i].regis, sm[i].non_regis]);
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Rincian Data Setiap Program Studi',
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
				  var chart2 = new google.visualization.BarChart(document.getElementById('sumMajor_bar'));
				  chart2.draw(data, options);
			    }
		    /*]]>*/
	    </script>
	</head>
	<body>
		<div th:include="manager_pendidikan-navbar"></div>
	
			<div class="content">
				<div class="row">
					<div class="col-sm-12">
						<h3>Statistik Registrasi Mahasiswa Baru</h3>
						<h4>Program Studi</h4>
					</div>
				</div>
				
				<hr/>
				
				<table align="center">
					<tbody>
						<tr>
							<td>
								<div th:id="'sumMajor_bar'"></div>
								<h4>Grafik ini berguna untuk memperlihatkan data registrasi mahasiswa baru secara umum pada setiap program studi</h4>
								<hr/>
							</td>
							<td>
								<div th:id="'major'"></div>
								<h4>Grafik ini berguna untuk memperlihatkan persentase pendaftar mahasiswa baru pada setiap program studi</h4>
								<hr/>
							</td>
						</tr>
						<tr>
							<td>
								<div th:id="'regMajor_pie'"></div>
								<h4>Grafik ini berguna untuk memperlihatkan persentase mahasiswa baru yang melakukan registrasi ulang pada setiap program studi</h4>
								<hr/>
							</td>
							<td>
								<div th:id="'regMajor_bar'"></div>
								<h4>Grafik ini berguna untuk memperlihatkan perbandingan jumlah mahasiswa baru yang melakukan registrasi ulang pada setiap program studi</h4>
								<hr/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	
		<div class="footer">Modul Registrasi Mahasiswa Baru</div>
	</body>
</html>