<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="resources"></div>
<title>Staf Kesejahteraan - Daftar Mahasiswa</title>
</head>

<body>
	<div th:include="staf-navbar"></div>

	<div class="container">
		<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<h3>Daftar Mahasiswa</h3>
				</div>
			</div>

			<table class="table">
				<thead>
					<tr>
						<td>
							<h4 th:text="'Username'">Username</h4>
						</td>
						<td>
							<h4 th:text="'Nama Lengkap'">Nama Lengkap</h4>
						</td>
						<td>
							<h4 th:text="'NPM'">NPM</h4>
						</td>
						<td>
							<h4 th:text="'Jurusan'">Jurusan</h4>
						</td>
						<td>
							<h4 th:text="'Fakultas'">Fakultas</h4>
						</td>
						<td>
							<h4 th:text="'Golongan'">Golongan</h4>
						</td>
						<td>
							<h4 th:text="'Status Pengajuan'">Status Verifikasi</h4>
						</td>
						<td>
							<h4 th:text="'Lihat Pengajuan Skema Pembayaran'">Lihat
								Pengajuan Skema Pembayaran</h4>
						</td>
					</tr>
				</thead>
				<tbody>
					<span th:each="pengajuan,iterationStatus: ${pengajuans}">
						<tr th:each="mahasiswa,iterationStatus: ${mahasiswas}"
							th:if="${pengajuan.username=mahasiswa.username}">
							<td th:text="${mahasiswa.username}">username</td>
							<td th:text="${mahasiswa.nama_lengkap}">nama lengkap</td>
							<td th:text="${mahasiswa.npm}">npm</td>
							<td th:text="${mahasiswa.program_studi.nama_program_studi}">jurusan</td>
							<td th:text="${mahasiswa.fakultas}">fakultas</td>
							<td th:text="${pengajuan.golongan_id}">golongan</td>
							<td th:text="${pengajuan.status_pengajuan}">status pengajuan</td>
							<td><a
								th:href="'/staf/' + ${mahasiswa.npm} + '/pengajuan_skema_pembayaran'"
								class="btn btn-warning"> <i
									class="glyphicon glyphicon-eye-open"></i>
							</a></td>
						</tr>
					</span>
				</tbody>
			</table>
		</div>
	</div>

	<div class="footer">Modul Registrasi Mahasiswa Baru</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('.table').dataTable();
		});
	</script>
</body>
</html>