<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="resources"></div>
<title>Staf Registrasi - Daftar Mahasiswa</title>
</head>

<body>

	<div th:include="staf-navbar"></div>
	<div class="container">
		<!-- Test Tab -->
		<div class="tab">
			<button class="tablinks" onclick="openJadwal(event, 'registrasi')"
				id="defaultOpen">Jadwal Registrasi</button>
			<button class="tablinks" onclick="openJadwal(event, 'tes-kesehatan')">Jadwal
				Tes Kesehatan</button>
			<button class="tablinks" onclick="openJadwal(event, 'ept')">Jadwal
				EPT</button>
		</div>

		<div id="registrasi" class="tabcontent">
			<div class="content-table">
				<div class="row">
					<div class="col-sm-6">
						<h4>Daftar Jadwal Registrasi</h4>
					</div>
					<div class="col-sm-6">
						<a th:href="'/staf/' + '' + '/idm'" title="Buat Jadwal Baru"
							class="btn btn-info pull-right"> <i
							class="glyphicon glyphicon-plus"></i>
						</a>
					</div>
				</div>
				<table class="table">
					<thead>
						<tr>
							<td>
								<h4 th:text="'Hari'">Hari</h4>
							</td>
							<td>
								<h4 th:text="'Tanggal'">Tanggal</h4>
							</td>
							<td>
								<h4 th:text="'Rentang Waktu'">Waktu Awal</h4>
							</td>
							<td>
								<h4 th:text="'Rentang Waktu'">Waktu Akhir</h4>
							</td>
							<td>
								<h4 th:text="'Kapasitas'">Kapasitas</h4>
							</td>
							<td>
								<h4 th:text="'Fakultas'">Fakultas</h4>
							</td>
							<td>
								<h4 th:text="'Hapus Jadwal'">Hapus Jadwal</h4>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="jadwalRegis,iterationStatus: ${jadwalRegisList}">
							<td th:text="${jadwalRegis.hari}">Hari</td>
							<td th:text="${jadwalRegis.tanggal}">Tanggal</td>
							<td th:text="${jadwalRegis.waktu_awal}">Waktu Awal</td>
							<td th:text="${jadwalRegis.waktu_akhir}">Waktu Akhir</td>
							<td th:text="${jadwalRegis.kapasitas}">Kapasitas</td>
							<td th:text="${jadwalRegis.fakultas}">Fakultas</td>
							<td><a th:href="'/staf/' + '' + '/idm'"
								class="btn btn-danger"> <i
									class="glyphicon glyphicon-remove"></i>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div id="tes-kesehatan" class="tabcontent">
			<span onclick="this.parentElement.style.display='none'"
				class="topright">x</span>
			<h4>Daftar Jadwal Tes Kesehatan</h4>
			<p>table</p>
		</div>

		<div id="ept" class="tabcontent">
			<span onclick="this.parentElement.style.display='none'"
				class="topright">x</span>
			<h4>Daftar Jadwal EPT</h4>
			<p>table</p>
		</div>
	</div>

	<div class="footer navbar navbar-fixed-bottom">Modul Registrasi
		Mahasiswa Baru</div>

	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							$('.table').dataTable();
							var i, tabcontent, tablinks;
							tabcontent = document
									.getElementsByClassName("tabcontent");
							i = 0;
							while (i != tabcontent.length) {
								tabcontent[i].style.display = "none";
								i++;
							}
							tablinks = document
									.getElementsByClassName("tablinks");
							i = 0;
							while (i != tablinks.length) {
								tablinks[i].className = tablinks[i].className
										.replace(" active", "");
								i++;
							}
							document.getElementById('registrasi').style.display = "block";
							evt.currentTarget.className += " active";
						});
		function openJadwal(evt, jadwalName) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			i = 0;
			while (i != tabcontent.length) {
				tabcontent[i].style.display = "none";
				i++;
			}
			tablinks = document.getElementsByClassName("tablinks");
			i = 0;
			while (i != tablinks.length) {
				tablinks[i].className = tablinks[i].className.replace(
						" active", "");
				i++;
			}
			document.getElementById(jadwalName).style.display = "block";
			evt.currentTarget.className += " active";
		}
	</script>
</body>
</html>