<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="resources"></div>
<title>Staf Verifikasi - Daftar Mahasiswa</title>
</head>

<body>
	<div th:include="staf_verifikasi-navbar"></div>

	<div class="container">
		<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<h3>Daftar Mahasiswa</h3>
				</div>
			</div>

			<table class="table">
				<thead>
					<tr>
						<td>
							<h4 th:text="'Username'">Username</h4>
						</td>
						<td>
							<h4 th:text="'Nama Lengkap'">Nama Lengkap</h4>
						</td>
						<td>
							<h4 th:text="'NPM'">NPM</h4>
						</td>
						<td>
							<h4 th:text="'Jurusan'">Jurusan</h4>
						</td>
						<td>
							<h4 th:text="'Status Verifikasi'">Status Verifikasi</h4>
						</td>
						<td>
							<h4 th:text="'Edit Verifikasi'">Edit Verifikasi</h4>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mahasiswa,iterationStatus: ${mahasiswas}" th:if="${mahasiswa.biodata!=null}">
						<td th:text="${mahasiswa.username}" class="center">username</td>
						<td th:text="${mahasiswa.nama_lengkap}" class="center">nama lengkap</td>
						<td th:text="${mahasiswa.npm}">npm</td>
						<td th:text="${mahasiswa.program_studi.nama_program_studi}" class="center">jurusan</td>
						<td th:text="${mahasiswa.biodata.status_verifikasi}">status_verifikasi </td>
						<td><a th:href="'/staf-verifikasi/detailIDM/' + ${mahasiswa.npm}"
							class="btn btn-warning"> <i class="glyphicon glyphicon-pencil"></i>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="footer">Modul Registrasi Mahasiswa Baru</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('.table').dataTable();
		});
	</script>
</body>
</html>