<!-- 
Navbar/Header buat semua page Calon Mahasiswa
Bedanya ama navbar lain cuma beda menu doang
Di setiap page Calon Mahasiswa include ini aja
Link-link yang ke menu lain diganti aja kalo perlu
-->

<nav class="navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a th:href="'/c6/'"><img class="navbar-brand" src="/c6/img/logo.png" alt="Logo"/></a>
		</div>
		
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-left">
				<div class="dropdown">
					<a th:href="'/c6/staf-kesejahteraan/daftar-mhs'"><button class="dropbtn">Daftar Mahasiswa</button></a>
				</div>
			</ul>
			
			<ul class="nav navbar-nav navbar-left">
				<div class="dropdown">
					<a th:href="'/c6/staf-kesejahteraan/skema-pembayaran/daftar'"><button class="dropbtn">Rincian Skema Pembayaran</button></a>
				</div>
			</ul>
			
			<ul class="nav navbar-nav navbar-left">
				<div class="dropdown">
					<a th:href="'/c6/staf-kesejahteraan/skema-pembayaran/dashboard'"><button class="dropbtn">Menu Statistik Skema Pembayaran</button></a>
				</div>
			</ul>
		
			<ul class="nav navbar-nav navbar-right">
				<div class="dropdown">
					<a th:href="'/c6/logout'"><button class="dropbtn">Keluar</button></a>
				</div>
			</ul>
		</div>
	</div>
	
	<div class="navbar-strip"/>
</nav>