<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="resources"></div>
	<title>Staf Kesejahteraan - Daftar Mahasiswa</title>
</head>

<body>
	<div th:include="staf_kesejahteraan-navbar"></div>

	<div class="container">
		<div class="content content-top">
			<div class="row">
				<div class="col-sm-12">
					<h3><span class="glyphicon glyphicon-list"></span>Daftar Mahasiswa</h3>
				</div>
			</div>
			
			<hr/>

			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<td>
								<h4 th:text="'Username'">Username</h4>
							</td>
							<td>
								<h4 th:text="'Nama Lengkap'">Nama Lengkap</h4>
							</td>
							<td>
								<h4 th:text="'NPM'">NPM</h4>
							</td>
							<td>
								<h4 th:text="'Jurusan'">Jurusan</h4>
							</td>
							<td>
								<h4 th:text="'Fakultas'">Fakultas</h4>
							</td>
							<td>
								<h4 th:text="'Golongan'">Golongan</h4>
							</td>
							<td>
								<h4 th:text="'Status Pengajuan'">Status Verifikasi</h4>
							</td>
							<td>
								<h4 th:text="'Lihat Pengajuan Skema Pembayaran'">Lihat
									Pengajuan Skema Pembayaran</h4>
							</td>
						</tr>
					</thead>
					<tbody>
						<span th:each="pengajuan,iterationStatus: ${pengajuans}">
							<tr th:each="mahasiswa,iterationStatus: ${mahasiswas}"
								th:if="${pengajuan.username.equals(mahasiswa.username)}">
								<td th:text="${mahasiswa.username}">username</td>
								<td th:text="${mahasiswa.nama_lengkap}">nama lengkap</td>
								<td th:text="${mahasiswa.npm}">npm</td>
								<td th:text="${mahasiswa.program_studi.nama_program_studi}">jurusan</td>
								<td th:text="${mahasiswa.fakultas}">fakultas</td>
								<td th:text="${pengajuan.golongan_id}">golongan</td>
								<td th:text="${pengajuan.status_pengajuan}">status pengajuan</td>
								<td>
									<a type="button" data-toggle="modal" th:attr="data-target='#mahasiswaModel'+${mahasiswa.npm}, onclick='getItr('+${rumpuns[iterationStatus.index].rumpun_id}+')'" class="btn btn-default"> 
										<i class="glyphicon glyphicon-eye-open"></i>
									</a>
								</td>
							</tr>
						</span>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div th:include="footer"></div>
	
	<div th:each="pengajuan,pengajuanItr: ${pengajuans}">
		<div th:each="mahasiswa,mahasiswaItr: ${mahasiswas}" th:if="${pengajuan.username.equals(mahasiswa.username)}">
			<div th:id="'mahasiswaModel'+${mahasiswa.npm}" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title" th:text="${mahasiswa.username}">benathavia.saladdin</h4>
							<span th:text="${mahasiswa.username}+' | '+${mahasiswa.npm}">Benathavia Saladdin | 1234567890 | Sistem Informasi | Sarjana | Reguler</span>
						</div>
						<div class="modal-body">
							<table class="tg">
								<tr>
									<div th:switch="${rumpuns[pengajuanItr.index].rumpun_id}">
										<div th:case="'1'">
											<td>Golongan - Jumlah biaya semester Min/Max - Uang pangkal Min/Max (SAINTEK)</td>
											<td colspan="3">
												<span th:text="${pengajuan.golongan_id}+' - '">1 - </span>
												<span th:text="'Rp '+${skemas[pengajuanItr.index].jumlah_biaya_ipa_min}+',- / '+${skemas[pengajuanItr.index].jumlah_biaya_ipa_max}+',- - '">8000000 - </span>
												<span th:text="'Rp '+${skemas[pengajuanItr.index].uang_pangkal_ipa_min}+',- / '+${skemas[pengajuanItr.index].uang_pangkal_ipa_max}+',-'">Rp 0</span>
											</td>
										</div>
										<div th:case="'2'">
											<td>Golongan - Jumlah biaya semester - Uang pangkal (SOSHUM)</td>
											<td colspan="3">
												<span th:text="${pengajuan.golongan_id}+' - '">2 - </span>
												<span th:text="'Rp '+${skemas[pengajuanItr.index].jumlah_biaya_ips_min}+',- / '+${skemas[pengajuanItr.index].jumlah_biaya_ips_max}+',- - '">8000000 - </span>
												<span th:text="'Rp '+${skemas[pengajuanItr.index].uang_pangkal_ips_min}+',- / '+${skemas[pengajuanItr.index].uang_pangkal_ips_max}+',-'">Rp 0</span>
											</td>
										</div>
										<div th:case="'3'">
											<td>Golongan - Jumlah biaya semester - Uang pangkal (Kesehatan)</td>
											<td colspan="3">
												<span th:text="${pengajuan.golongan_id}+' - '">3 - </span>
												<span th:text="'Rp '+${skemas[pengajuanItr.index].jumlah_biaya_ik_min}+',- / '+${skemas[pengajuanItr.index].jumlah_biaya_ik_max}+',- - '">8000000 - </span>
												<span th:text="'Rp '+${skemas[pengajuanItr.index].uang_pangkal_ik_min}+',- / '+${skemas[pengajuanItr.index].uang_pangkal_ik_max}+',-'">Rp 0</span>
											</td>
										</div>
									</div>
								</tr>
								<tr>
									<td>Surat Keterangan RT RW</td>
									<td colspan="3">
										<a th:if="${pengajuan.surat_keterangan_rtrw != null}" th:href="${pengajuan.surat_keterangan_rtrw}">(unduh scan surat keterangan RT RW)</a>
										<span th:if="${pengajuan.surat_keterangan_rtrw == null}">-</span>
									</td>
								</tr>
								<tr>
									<td>Foto rumah</td>
									<td>
										<a th:if="${pengajuan.foto_rumah != null}" th:href="${pengajuan.foto_rumah}">(unduh foto rumah)</a>
										<span th:if="${pengajuan.foto_rumah == null}">-</span>
									</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td style="width:25%">Gaji Pribadi</td>
									<td style="width:25%">
										<span th:text="'Rp '+${pengajuan.gaji_pribadi}+',- '">-</span>
										<a th:if="${pengajuan.slip_gaji_pribadi != null}" th:href="${pengajuan.slip_gaji_pribadi}">(unduh slip gaji pribadi)</a>
									</td>
									<td style="width:25%">Tagihan air</td>
									<td style="width:25%">
										<span th:text="'Rp '+${pengajuan.nilai_tagihan_air}+',- '">Rp 500.000,- </span>
										<a th:if="${pengajuan.tagihan_air != null}" th:href="${pengajuan.tagihan_air}">(unduh scan tagihan air)</a>
									</td>
								</tr>
								<tr>
									<td style="width:25%">Gaji Wali 1</td>
									<td style="width:25%">
										<span th:text="'Rp '+${pengajuan.gaji_wali1}+',- '">Rp 10.000.000,- </span>
										<a th:if="${pengajuan.slip_gaji_wali1 != null}" th:href="${pengajuan.slip_gaji_wali1}">(unduh slip gaji wali 1)</a>
									</td>
									<td style="width:25%">Tagihan Listrik</td>
									<td style="width:25%">
										<span th:text="'Rp '+${pengajuan.nilai_tagihan_listrik}+',- '">Rp 2.000.000,- </span>
										<a th:if="${pengajuan.tagihan_listrik != null}" th:href="${pengajuan.tagihan_listrik}">(unduh scan tagihan listrik)</a>
									</td>
								</tr>
								<tr>
									<td style="width:25%">Gaji Wali 2</td>
									<td style="width:25%">
										<span th:text="'Rp '+${pengajuan.gaji_wali2}+',- '">-</span>
										<a th:if="${pengajuan.slip_gaji_wali2 != null}" th:href="${pengajuan.slip_gaji_wali2}">(unduh slip gaji wali 2)</a>
									</td>
									<td style="width:25%">Tagihan telepon</td>
									<td style="width:25%">
										<span th:text="'Rp '+${pengajuan.nilai_tagihan_telepon}+',- '">Rp 50.000,- </span>
										<a th:if="${pengajuan.tagihan_telepon != null}" th:href="${pengajuan.tagihan_telepon}">(unduh scan tagihan telepon)</a>
									</td>
								</tr>
							</table>
						
							<hr/>
							
							<h4 class="modal-title">Verifikasi</h4>
							<form th:action="@{/staf-kesejahteraan/daftar-mhs/{npm}(npm=${mahasiswa.npm})}" method="post">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
								<table class="tg">
									<tr>
										<td style="width:25%">Status Pengajuan</td>
										<td>
											<select class="form-control" name="status-pengajuan" id="status-pengajuan">
												<div th:if="${pengajuan.status_pengajuan == 'Not verified yet'}">
													<option value="Not verified yet" selected="selected">Not verified yet</option>
													<option value="Verified">Verified</option>
												</div>
												<div th:if="${pengajuan.status_pengajuan != 'Not verified yet'}">
													<option value="Not verified yet">Not verified yet</option>
													<option value="Verified" selected="selected">Verified</option>
												</div>
											</select>
										</td>
									</tr>
									<tr>
										<td style="width:25%">Ubah Golongan Mahasiswa</td>
										<td>
											<select class="form-control ubah-golongan" name="ubah-golongan" th:id="'ubah-golongan-' + ${mahasiswa.npm}" th:attr="onchange='updateMinMax('+${mahasiswa.npm}+')'">
												<div th:each="skema,skemaListItr: ${skemaList}">
													<option th:if="${pengajuan.golongan_id != skema.golongan_id}" th:value="${skema.golongan_id}" th:text="${skema.golongan_id}">1</option>
													<option th:if="${pengajuan.golongan_id == skema.golongan_id}" th:value="${skema.golongan_id}" th:text="${skema.golongan_id}" selected="selected">1</option>
												</div>
											</select>
										</td>
									</tr>
									
									<tr>
										<td style="width:25%">Jumlah biaya Semester</td>
										<td th:switch="${rumpuns[pengajuanItr.index].rumpun_id}">
											<input th:case="'1'" type="number" class="form-control" name="ubah-biaya" id="ubah-biaya-ipa" th:value="${pengajuan.jumlah_biaya_semester}"
												th:min="${skemas[pengajuanItr.index].jumlah_biaya_ipa_min}" th:max="${skemas[pengajuanItr.index].jumlah_biaya_ipa_max}"/>
											<input th:case="'2'" type="number" class="form-control" name="ubah-biaya" id="ubah-biaya-ips" th:value="${pengajuan.jumlah_biaya_semester}"
												th:min="${skemas[pengajuanItr.index].jumlah_biaya_ips_min}" th:max="${skemas[pengajuanItr.index].jumlah_biaya_ips_max}"/>
											<input th:case="'3'" type="number" class="form-control" name="ubah-biaya" id="ubah-biaya-ik" th:value="${pengajuan.jumlah_biaya_semester}"
												th:min="${skemas[pengajuanItr.index].jumlah_biaya_ik_min}" th:max="${skemas[pengajuanItr.index].jumlah_biaya_ik_max}"/>
										</td>
									</tr>
									
									<tr>
										<td style="width:25%">Uang Pangkal yang diberikan</td>
										<td th:switch="${rumpuns[pengajuanItr.index].rumpun_id}">
											<input th:case="'1'" type="number" class="form-control" name="ubah-uang" id="ubah-uang-ipa" th:value="${pengajuan.uang_pangkal}"
												th:min="${skemas[pengajuanItr.index].uang_pangkal_ipa_min}" th:max="${skemas[pengajuanItr.index].uang_pangkal_ipa_max}"/>
											<input th:case="'2'" type="number" class="form-control" name="ubah-uang" id="ubah-uang-ips" th:value="${pengajuan.uang_pangkal}"
												th:min="${skemas[pengajuanItr.index].uang_pangkal_ips_min}" th:max="${skemas[pengajuanItr.index].uang_pangkal_ips_max}"/>
											<input th:case="'3'" type="number" class="form-control" name="ubah-uang" id="ubah-uang-ik" th:value="${pengajuan.uang_pangkal}"
												th:min="${skemas[pengajuanItr.index].uang_pangkal_ik_min}" th:max="${skemas[pengajuanItr.index].uang_pangkal_ik_max}"/>
										</td>
									</tr>
									
									<tr>
										<td style="width:25%">Komentar</td>
										<td>
											<textarea class="form-control" rows="5" name="komentar" id="komentar" th:text="${pengajuan.komentar}"></textarea>
										</td>
									</tr>
								</table>
								
								<div class="modal-footer">
									<button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Kembali</button>
									<button type="submit" class="btn btn-default">Simpan</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function() {
			$('.table').dataTable();
			//getItr(1);
		});

		console.log("lala");
		
		var itr = 0;
		
		function getItr(lala) {
			itr = lala;
			console.log("lala itr = " + itr);
		}
		
		function updateMinMax(npm) {
			var z = document.getElementById("ubah-golongan-" + npm);
			var y = z.options[z.selectedIndex].value;
			var schema = [[${skemaList}]];
			
			console.log("nilai dari " + itr);
			
			if(itr == 1){
				console.log("ipa " + y);
				
				var a = document.getElementById("ubah-uang-ipa");
				var d = document.getElementById("ubah-biaya-ipa");
				
				var pangkalIpaMin = schema[y-1].uang_pangkal_ipa_min;
				var pangkalIpaMax = schema[y-1].uang_pangkal_ipa_max;
				
				var smtIpaMin = schema[y-1].jumlah_biaya_ipa_min;
				var smtIpaMax = schema[y-1].jumlah_biaya_ipa_max;
				
				console.log("pangkal ipa min " + smtIpaMin);
				
				a.setAttribute("min", pangkalIpaMin);
				a.setAttribute("max", pangkalIpaMax);
				
				d.setAttribute("min", smtIpaMin);
				d.setAttribute("max", smtIpaMax);
			}
			
			if(itr == 2){
				console.log("ips");
				
				var b = document.getElementById("ubah-uang-ips");
				var e = document.getElementById("ubah-biaya-ips");
				
				var pangkalIpsMin = schema[y-1].uang_pangkal_ips_min;
				var pangkalIpsMax = schema[y-1].uang_pangkal_ips_max;
				
				var smtIpsMin = schema[y-1].jumlah_biaya_ips_min;
				var smtIpsMax = schema[y-1].jumlah_biaya_ips_max;
				
				b.setAttribute("min", pangkalIpsMin);
				b.setAttribute("max", pangkalIpsMax);
				
				e.setAttribute("min", smtIpsMin);
				e.setAttribute("max", smtIpsMax);
			}
			
			if(itr == 3){
				console.log("ik");
				
				var c = document.getElementById("ubah-uang-ik");
				var f = document.getElementById("ubah-biaya-ik");
				
				var pangkalIkMin = schema[y-1].uang_pangkal_ik_min;
				var pangkalIkMax = schema[y-1].uang_pangkal_ik_max;
				
				var smtIkMin = schema[y-1].jumlah_biaya_ik_min;
				var smtIkMax = schema[y-1].jumlah_biaya_ik_max;
				
				c.setAttribute("min", pangkalIkMin);
				c.setAttribute("max", pangkalIkMax);
				
				f.setAttribute("min", smtIkMin);
				f.setAttribute("max", smtIkMax);
				
			}
		}
 		/*]]>*/
	</script>
</body>
</html>