<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="resources"></div>
	<title>Staf Registrasi - Daftar Mahasiswa</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
	    /*<![CDATA[*/
			// Load the Visualization API and the corechart package.
		    google.charts.load('current', {'packages':['corechart']});
		
		    // Set a callback to run when the Google Visualization API is loaded.
		    google.charts.setOnLoadCallback(drawSizeChart);
		    google.charts.setOnLoadCallback(drawFacultyChart);
		    google.charts.setOnLoadCallback(drawCrossChart);
		    var d = [[${crossAnalytics}]];
		
		    // Callback that creates and populates a data table,
		    // instantiates the pie chart, passes in the data and
		    // draws it.
		    function drawSizeChart() {
		    
		      // Retrieve from backend
		      var x = [[${mstypes}]];
		      var y = [[${mstotal}]];
		      var z = [[${crossAnalytics}]];
		      
		      // Create the data table.
		      var data = new google.visualization.DataTable();
		      data.addColumn('string', 'Ukuran Jaket');
		      data.addColumn('number', 'Jumlah');
		      
		      for(var i = 0; i < x.length; i++)
	    	  {
	    	  	data.addRow([x[i], y[i]]);
	    	  }
		 	
		      // Set chart options
		      var options = {'title':'Data Ukuran Jaket',
		                     'width':500,
		                     'height':300};
		
		      // Instantiate and draw our chart, passing in some options.
		      var chart = new google.visualization.BarChart(document.getElementById('chart_div_1'));
		      chart.draw(data, options);
		    }
		    
		    function drawFacultyChart() {
	    	  var x = [[${mjtypes}]];
		      var y = [[${mjtotal}]];
	    	
		      // Create the data table.
		      var data = new google.visualization.DataTable();
		      data.addColumn('string', 'Fakultas');
		      data.addColumn('number', 'Jumlah');
		      
		      for(var i = 0; i < x.length; i++)
	    	  {
	    	  	data.addRow([x[i], y[i]]);
	    	  }
		 	
		      // Set chart options
		      var options = {'title':'Data Pemesanan per Fakultas',
		                     'width':400,
		                     'height':300};
		
		      // Instantiate and draw our chart, passing in some options.
		      var chart = new google.visualization.PieChart(document.getElementById('chart_div_2'));
		      chart.draw(data, options);
		      console.log("chart");
		    }
		    
		    function drawCrossChart() {
	    	  for(var index=0; index < d.length; index++)
    		  {
			      var cross = d[index].rjm;
		    	
			      // Create the data table.
			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'Ukuran Jaket');
			      data.addColumn('number', 'Jumlah');
	
			      for(var i = 0; i < cross.length; i++)
		    	  {
		    	  	data.addRow([cross[i].jenis_rekap, cross[i].jumlah])
		    	  }
			 	
			      // Set chart options
			      var options = {'title':'Data Pemesanan Ukuran di Fakultas ' + d[index].nama_fakultas,
			                     'width':500,
			                     'height':300};
			
			      // Instantiate and draw our chart, passing in some options.
			      var chart = new google.visualization.BarChart(document.getElementById('cross_' + d[index].fakultas_id));
			      chart.draw(data, options);
    		  }
		    }
	    /*]]>*/
    </script>
</head>

<body>
	<div th:include="staf_registrasi-navbar"></div>

	<div class="container">
		<div class="content">
			<div class="row">
				<div class="col-sm-12">
					<h3>Rekapitulasi Data Jaket</h3>
				</div>
			</div>
			
			<hr/>
			
			<!--Div that will hold the pie chart-->
    		<div id="chart_div_1"></div>
    		<div id="chart_div_2"></div>
    		
    		<div th:each="crossAnalytic,iterationStatus: ${crossAnalytics}">
    			<div th:id="'cross_' + ${crossAnalytic.fakultas_id}" th:text="${crossAnalytic.fakultas_id}"></div>
    		</div>
		</div>
	</div>

	<div class="footer">Modul Registrasi Mahasiswa Baru</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('.table').dataTable();
		});
	</script>
</body>
</html>