<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>SIAK</title>
    <link rel="stylesheet" media="screen" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link th:href="@{/assets/css/dataTables.bootstrap.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/css/jquery.dataTables.css}" rel="stylesheet" media="screen"/>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script th:src="@{/assets/js/bootstrap.js}"></script>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/assets/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/assets/js/jquery.dataTables.js}"></script>
  
</head>

<body>
    <div id="contact" class="container">
	<h1 class="page-header">Create Biodata</h1>
<div class="container">	
    <h3>Biodata berhasil ditambahkan</h3>
</div>
    </div>
</body>

</html>

